/* Display items horizontally */
.task-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
  }
  
  /* Define background colors based on priority */
  .task-item {
    background-color: #f0f0f0; /* Default background color */
  }
  
  .task-item p {
    margin: 2;
  }
  
  .task-item p:contains("Priority: Low") {
    background-color: #ff9999; /* Low priority background color */
  }
  
  .task-item p:contains("Priority: Medium") {
    background-color: #ffcc99; /* Medium priority background color */
  }
  
  .task-item p:contains("Priority: High") {
    background-color: #99ff99; /* High priority background color */
  }
  